
<div class="container">
    <div class="col-xs-12 col-md-offset-0">
        <div class="panel panel-default">

          <div class="pannel pannel-body">
            <h2 class="pannel pannel-head">{{ getHash() }}</h2>
            <div class="table table-responsive" >
              <table class="table table-bordered table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8">
                    <tbody>
                      <tr>
                        <span *ngFor="let img of mf.data">
                          <td>
                            <a href="{{ img.imageUrl }}">
                              <img src="{{ img.imageUrl }}" title="{{ img.imageDescription }}" style="max-width:200px;max-height:200px;padding:2px;" class="img-thumbnail"/>
                            </a>
                          </td>
                        </span>
                      </tr>
                    </tbody>
                  <tfoot>
                  <tr>
                      <td colspan="1">
                          <mfBootstrapPaginator [rowsOnPageSet]="[4,8,16]"  style="align:right;"></mfBootstrapPaginator>
                      </td>
                  </tr>
                  </tfoot>
              </table>
              </div>


            </div>
            <div class="panel-footer">
              <p> <a href = "../index.html#works">Go Back</a> </p>
            </div>
        </div>
    </div>
</div>
