<div class="container">
    <div class="col-xs-12 col-md-offset-0">

        <div class="page-header">
            <h1>
                <span>Angular 2 Prototype</span>
            </h1>
        </div>

        <h2>Rates Table</h2>

        <div class="panel panel-default">
          
            <!-- <div class="panel-heading">Rates List</div> -->
          <div class="table table-responsive">
            <table class="table panel-heading table-bordered table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                  <tr>
                      <th style="width: 10%"><mfDefaultSorter by="productKey">Key</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="productName">Name</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="productCategory">Category</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="productRating">Rating</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="purposeType">Type</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="interestRate">Rate</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="apr">apr</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="lockPeriod">Lock Period</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="closingCost">Closing Cost</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="monthlyPayment">Monthly Payment</mfDefaultSorter></th>
                      <th style="width: 20%"><mfDefaultSorter by="monthlyMIPayment">Monthly MI Payment</mfDefaultSorter></th>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="#rt of mf.data">
                      <td style="width: 10%">{{ rt.productKey }}</td>
                      <td style="width: 20%">{{ rt.productName }}</td>
                      <td style="width: 20%">{{ rt.productCategory }}</td>
                      <td style="width: 20%">{{ rt.productRating }}</td>
                      <td style="width: 20%">{{ rt.purposeType }}</td>
                      <td style="width: 20%">{{ rt.interestRate }}</td>
                      <td style="width: 20%">{{ rt.apr }}</td>
                      <td style="width: 20%">{{ rt.lockPeriod }}</td>
                      <td style="width: 20%">{{ rt.closingCost }}</td>
                      <td style="width: 20%">{{ rt.monthlyPayment }}</td>
                      <td style="width: 20%">{{ rt.monthlyMIPayment }}</td>
                    </tr>
                  </tbody>
                <tfoot>
                <tr>
                    <td colspan="11">
                        <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
            </div>
            
            <div class="panel-footer">
              <p> </p>
            </div>
        </div>
    </div>
</div>