<div class="container">
    <div class="col-xs-12 col-md-offset-0">

        <div class="page-header">
            <h1>
                <span>Angular 2 Prototype</span>
            </h1>
        </div>

        <h2></h2>

        <div class="panel panel-default">

          <div class="panel-heading">Album</div>
          <div class="table table-responsive">
            <table class="table panel-heading table-bordered table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                <!-- <thead>
                  <tr>
                      <th><mfDefaultSorter by="imageUrl">Image</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="imageAlbum">Album</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="imageDescription">description</mfDefaultSorter></th>
                  </tr>
                </thead> -->
                  <tbody>
                    <tr>
                      <span *ngFor="let img of mf.data"><td *ngIf="img.imageAlbum == 'Album1'"><a href="{{ img.imageUrl }}"><img src="{{ img.imageUrl }}" title="{{ img.imageDescription }}" style="width:304px;height:228px;padding:2px;"> </a></td></span>
                    </tr>
                    <!-- <tr>
                      <td *ngFor="#img of mf.data" *ngIf="img.imageAlbum Album1">{{ img.imageAlbum }}</td>
                    </tr>
                    <tr>
                      <td *ngFor="#img of mf.data" *ngIf="img.imageAlbum Album1"><a href="{{ img.imageUrl }}">View Larger</a></td>
                    </tr> -->
                  </tbody>
                <tfoot>
                <tr>
                    <td colspan="11">
                        <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
            </div>

            <div class="panel-footer">
              <p> </p>
            </div>
        </div>
    </div>
</div>
